<!-- <app-header  ></app-header>
<main class="d-flex flex-column justify-content-between h-100">
    <div class="row">
        <app-menu class="col-2 border border-primary">col-8</app-menu>
        <app-content class="col-10 border border-danger">col-4</app-content>
    </div>

    <footer class="border border-danger"></footer>
</main> -->

<h1>{{PageDetails.title}}</h1>



<h1>welcome to your shop market</h1>
<div>
<h2>about us</h2>
<span>
    <p>
        we are founding well products with good material, cheap prices and useful for the ordinary customers
    </p>
</span>
    <h4>Christmas Promotion & 60% OFF! Bone Conduction Headphones - Bluetooth Wireless Headset</h4>
<p>Have you ever had earphones that don't fit or fall out? Or have a headset that gets dirty from being inside your ear? Or did you know that conventional earphones can cause long-term hearing damage to your eardrums and you wouldn't even know it?</p>
<p>buy now</p>
<img src="https://img.mysail.shop/uploader/76d693f2947798649914930f78e88ff1.jpg" alt="earphones" >
</div>
<div>
    <h3>Featured collection</h3>
    <ul >
        <li>
            <div>
             <h4>cover for phone</h4>
            <img src="https://img.mysail.shop/uploader/c57bf7bd54cd81a2a16313ec8a768849.jpg" alt="cover" >
        </div>
        </li>
        <li>
            <div >
             <h4>Usb cable</h4>
            <img  src="https://img.mysail.shop/uploader/1e3952e40aa1bcb7ea9d7bde9620afe2.jpg" alt="Usb" >
        </div>
        </li>
        <li>
            <div>
             <h4>Stand for laptop</h4>
            <img src="https://assets.kogan.com/files/product/2020/KALHTALPSDA/KALHTALPSDA_hero_2.jpg?auto=webp&canvas=753%2C502&fit=bounds&height=502&quality=75&width=753" alt="stand" >
        </div>
        </li>

    </ul>
</div>





